body{
    font-family:Serif;
    color: #333;
    background-color: #ccc;
    margin:1em 10%;
}
a{
    color:#c60;
    background-color: transparent;
    font-weight: bold;
    text-decoration: none;
}
ul{
    padding:0;
}
li{
    float: left;
    padding: 1em;
    list-style: none;
}
#imagegallery{
    list-style: nine;
}
#imagegallery li{
    display: inline;
}
#imagegallery li a img{
    border:0;
}
#placeholder{

    width:300px;
    height: 300px;
}
img{
    height: 40px;
    width:40px;
    display: block;
    clear: both;
}